In [7]:
import pandas as pd
import numpy as np
import re

data = pd.read_csv("alldata.csv")

In [9]:
data

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"
...,...,...,...,...,...
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,574.0,"Sunnyvale, CA"
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,26.0,"Sunnyvale, CA"
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA"
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,4618.0,"Sunnyvale, CA"
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcast’s Technology &amp; Product organizatio...,11610.0,"Sunnyvale, CA 94089"

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 272.2+ KB

In [11]:
data.isna

<bound method DataFrame.isna of                                                position  \
0                                  Development Director
1     An Ostentatiously-Excitable Principal Research...
2                                        Data Scientist
3                                          Data Analyst
4     Assistant Professor -TT - Signal Processing & ...
...                                                 ...
6959          Data Developer / Machine Learning Analyst
6960                                        Scientist I
6961                                   Intern Scientist
6962                    Senior Data & Applied Scientist
6963            Principal Data Scientist, Deep Learning

                               company  \
0                              ALS TDI
1                   The Hexagon Lavish
2                       Xpert Staffing
3                       Operation HOPE
4                     Emory University
...                                ...
6959                            NetApp
6960  Pharmacyclics, an Abbvie Company
6961                          Oath Inc
6962                         Microsoft
6963                           Comcast

                                            description  reviews  \
0     Development Director\nALS Therapy Development ...      NaN
1     Job Description\n\n"The road that leads to acc...      NaN
2     Growing company located in the Atlanta, GA are...      NaN
3     DEPARTMENT: Program OperationsPOSITION LOCATIO...     44.0
4     DESCRIPTION\nThe Emory University Department o...    550.0
...                                                 ...      ...
6959  Are you data-driven? We at NetApp believe in t...    574.0
6960  Pharmacyclics is committed to the development ...     26.0
6961  Oath, a subsidiary of Verizon, is a values-led...      5.0
6962  We are the Bing Core Relevance team responsibl...   4618.0
6963  Comcast’s Technology &amp; Product organizatio...  11610.0

                 location
0      Atlanta, GA 30301
1             Atlanta, GA
2             Atlanta, GA
3      Atlanta, GA 30303
4             Atlanta, GA
...                   ...
6959        Sunnyvale, CA
6960        Sunnyvale, CA
6961        Sunnyvale, CA
6962        Sunnyvale, CA
6963  Sunnyvale, CA 94089

[6964 rows x 5 columns]>

In [13]:
data_non_null = data.dropna(how='all')

In [15]:
data_non_null.shape

(6953, 5)

## 1. Location

In [7]:
data['location'].unique

<bound method Series.unique of 0        Atlanta, GA 30301
1               Atlanta, GA
2               Atlanta, GA
3        Atlanta, GA 30303
4               Atlanta, GA
               ...
6959          Sunnyvale, CA
6960          Sunnyvale, CA
6961          Sunnyvale, CA
6962          Sunnyvale, CA
6963    Sunnyvale, CA 94089
Name: location, Length: 6964, dtype: object>

In [17]:
data['location'].str.extract(r'([\D]+ ?[\D]+, \D\D)')

                  0
0       Atlanta, GA
1       Atlanta, GA
2       Atlanta, GA
3       Atlanta, GA
4       Atlanta, GA
...             ...
6959  Sunnyvale, CA
6960  Sunnyvale, CA
6961  Sunnyvale, CA
6962  Sunnyvale, CA
6963  Sunnyvale, CA

[6964 rows x 1 columns]

In [9]:
data['location_clean'] = data['location'].str.extract(r'([\D]+ ?[\D]+, \D\D)')

In [10]:
data.head()

,position,company,description,reviews,location,location_clean
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301","Atlanta, GA"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA","Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA","Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303","Atlanta, GA"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA","Atlanta, GA"

In [19]:
data['location'] = data['location_clean'].str[-2:]

KeyError: 'location_clean'

## 2. Position

In [20]:
#re.IGNORECASE

data['position'].str.findall('data scientist', flags = re.IGNORECASE)

0                     []
1                     []
2       [Data Scientist]
3                     []
4                     []
              ...
6959                  []
6960                  []
6961                  []
6962                  []
6963    [Data Scientist]
Name: position, Length: 6964, dtype: object

In [13]:
data['ds yes'] = data['position'].str.count('data scientist', flags = re.IGNORECASE)

In [22]:
data.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [21]:
data['ds yes'].value_counts()

KeyError: 'ds yes'

## 3. Description

We will be looking for these skills:
- python
- statistics
- modeling
- programming
- SQL
- excel
- java

We will be looking for these characteristics:
- Bachelor's Degree
- Master's Degree
- PhD
- Experience in yesars

In [16]:
data['description'].head(20)

0     Development Director\nALS Therapy Development ...
1     Job Description\n\n"The road that leads to acc...
2     Growing company located in the Atlanta, GA are...
3     DEPARTMENT: Program OperationsPOSITION LOCATIO...
4     DESCRIPTION\nThe Emory University Department o...
5     Qualifications\nBachelor’s degree in Computer ...
6     Qualifications\nBachelor’s degree\n5-7 years o...
7     Overview / Responsibilities\nWood Environment ...
8     Works closely with senior CIB professionals. P...
9     Known for being a great place to work and buil...
10    :\n\nThe Statistical Forecast Analyst position...
11    Chenega Professional &amp; Technical Services,...
12    Innovate. Collaborate. Shine. Lighthouse — KPM...
13    DESCRIPTION\nUnder minimal supervision, the As...
14    Data Science Analyst– Business Intelligence\nL...
15    Cotiviti is looking for an industry leading Da...
16    Description\nExecutes complex assignments requ...
17    Overview\n\n\n\nAt Perficient you’ll deliver m...
18    DATA SCIENTIST\n\nSUMMARY:\nAs an Amazon Web S...
19    This position is critical to understanding dri...
Name: description, dtype: object

In [25]:
data['description'].str.extract(r'(\bpython\b)', flags = re.IGNORECASE)

           0
0        NaN
1        NaN
2     Python
3     Python
4        NaN
...      ...
6959  Python
6960     NaN
6961  Python
6962     NaN
6963  Python

[6964 rows x 1 columns]